In [3]:

# In ra 2 dòng đầu và 2 dòng cuối
# Kiểm tra kiểu dữ liệu của từng cột
# Có bao nhiêu dòng và cột?

# Data trải dài từ thời gian nào đến thời gian nào 
# Lọc ra những chuyến xe có pickup time trong tháng 3 năm 2019 và lưu vào biến df_mar
# Kiểm tra lại xem kết quả có đúng như kỳ vọng
# Có bao nhiêu chuyến xe trong kết quả ở phần 2?



# Dùng df_mar đếm số chuyến xe cho mỗi ngày trong tuần 


#  Có bao nhiêu loại màu sắc cho các xe taxi? Là những màu nào?
# Có những hình thức thanh toán nào?
#  Tính tỉ trọng số chuyến xe theo hình thức thanh toán

# Tính trung bình tiền tip cho mỗi chuyến xe
# Tính median bình tiền tip cho mỗi chuyến xe
# Tính trung bình tiền tip cho mỗi chuyến xe theo từng hình thức payment
# Tính trung bình giá di chuyển cho từng hình thức payment
# Tính số lượng hành khách trung bình trên mỗi chuyến xe
#  Tính tổng doanh thu trong tháng 3/2019


#  Tính tổng doanh thu trong tháng 3/2019
#   Xác định 5 khung giờ cao điểm (nhiều chuyến xe nhất)
#  Tạo cột same_borough có giá trị là 1 nếu cùng điểm pickup và dropoff, và nhận giá trị 0 nếu ngược lại
#  Đếm số chuyến xe có điểm pickup và dropoff a) cùng borough và b) khác borough

#  Tính trung bình quãng đường di chuyển cho các chuyến xe xuất phát từ Manhattan
#  Tạo cột duration là thời gian giữa pickup và dropoff theo phút 
#   Tính trung bình thời gian di chuyển cho mỗi chuyến xe có điểm pickup và dropoff a) cùng borough và
#  b) khác borough.
#  Tạo cột pickup_hour là khung giờ pickup
#  Tạo cột km_per_min là số km đi được mỗi phút 
#  Tính tốc độ trung bình cho chuyến xe trong mỗi khung giờ pickup. Sắp xếp theo chiều tăng dần của khung giờ
#  Xe di chuyển nhanh nhất vào các khung giờ nào?

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df = sns.load_dataset("taxis")

In [6]:
df

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6428,2019-03-31 09:51:53,2019-03-31 09:55:27,1,0.75,4.5,1.06,0.0,6.36,green,credit card,East Harlem North,Central Harlem North,Manhattan,Manhattan
6429,2019-03-31 17:38:00,2019-03-31 18:34:23,1,18.74,58.0,0.00,0.0,58.80,green,credit card,Jamaica,East Concourse/Concourse Village,Queens,Bronx
6430,2019-03-23 22:55:18,2019-03-23 23:14:25,1,4.14,16.0,0.00,0.0,17.30,green,cash,Crown Heights North,Bushwick North,Brooklyn,Brooklyn
6431,2019-03-04 10:09:25,2019-03-04 10:14:29,1,1.12,6.0,0.00,0.0,6.80,green,credit card,East New York,East Flatbush/Remsen Village,Brooklyn,Brooklyn
6432,2019-03-13 19:31:22,2019-03-13 19:48:02,1,3.85,15.0,3.36,0.0,20.16,green,credit card,Boerum Hill,Windsor Terrace,Brooklyn,Brooklyn

In [7]:
# Kiểm tra dữ liệu
df.head(2)

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan

In [8]:
df.tail(2)

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
6431,2019-03-04 10:09:25,2019-03-04 10:14:29,1,1.12,6.0,0.00,0.0,6.80,green,credit card,East New York,East Flatbush/Remsen Village,Brooklyn,Brooklyn
6432,2019-03-13 19:31:22,2019-03-13 19:48:02,1,3.85,15.0,3.36,0.0,20.16,green,credit card,Boerum Hill,Windsor Terrace,Brooklyn,Brooklyn

In [9]:
# Kiểm tra kiểu dữ liệu của từng cột
df.dtypes

pickup             datetime64[ns]
dropoff            datetime64[ns]
passengers                  int64
distance                  float64
fare                      float64
tip                       float64
tolls                     float64
total                     float64
color                      object
payment                    object
pickup_zone                object
dropoff_zone               object
pickup_borough             object
dropoff_borough            object
dtype: object

In [10]:
# Có bao nhiêu dòng và cột?
df.shape

(6433, 14)

In [11]:
# Data trải dài từ thời gian nào đến thời gian nào
df["pickup"].agg(["min", "max"])

min   2019-02-28 23:29:03
max   2019-03-31 23:43:45
Name: pickup, dtype: datetime64[ns]

In [12]:
# Lọc ra những chuyến xe có pickup time trong tháng 3 năm 2019 và lưu vào biến df_mar
cond = (df["pickup"] >= "2019-03-01") & (df["pickup"] < "2019-04-01")
df_mar = df[cond].copy()

In [13]:
# Kiểm tra lại xem kết quả có đúng như kỳ vọng
df_mar["pickup"].agg(["min", "max"])

min   2019-03-01 00:03:29
max   2019-03-31 23:43:45
Name: pickup, dtype: datetime64[ns]

In [14]:
# Có bao nhiêu chuyến xe trong tháng 3?
df_mar.shape[0]

6432

In [15]:
# Đếm số chuyến xe cho mỗi ngày trong tuần

df_mar["pickup"].dt.day_name().value_counts()

pickup
Friday       1115
Saturday     1046
Wednesday     966
Thursday      904
Sunday        868
Tuesday       825
Monday        708
Name: count, dtype: int64

In [16]:
#  Có bao nhiêu loại màu sắc cho các xe taxi? Là những màu nào?
df_mar["color"].nunique()

2

In [17]:
df_mar["color"].unique()

array(['yellow', 'green'], dtype=object)

In [18]:
# Có những hình thức thanh toán nào?
df_mar["payment"].unique()

array(['credit card', 'cash', nan], dtype=object)

In [19]:
#  Tính tỉ trọng (%) số chuyến xe theo hình thức thanh toán 
df_mar["payment"].value_counts(normalize = True) * 100

payment
credit card    71.649969
cash           28.350031
Name: proportion, dtype: float64

In [20]:
# Tính trung bình tiền tip cho mỗi chuyến xe
df_mar["tip"].mean()

1.9795273631840795

In [21]:
# Tính median bình tiền tip cho mỗi chuyến xe
df_mar["tip"].median()

1.7

In [22]:
# Tính trung bình tiền tip cho mỗi chuyến xe theo từng hình thức payment
df_mar.groupby("payment")["tip"].mean()

payment
cash           0.000000
credit card    2.781805
Name: tip, dtype: float64

In [23]:
# Tính trung bình giá di chuyển cho từng hình thức payment

df_mar.groupby("payment")["fare"].mean()

payment
cash           11.596632
credit card    13.694750
Name: fare, dtype: float64

In [24]:
# Tính số lượng hành khách trung bình trên mỗi chuyến xe
df_mar["passengers"].mean()

1.5393345771144278

In [25]:
# Tính tổng doanh thu trong tháng 3/2019
df_mar["fare"].sum()

84209.87

In [26]:
#   Xác định 5 khung giờ cao điểm (nhiều chuyến xe nhất)
df_mar["pickup"].dt.hour.value_counts().head(5)

pickup
18    417
19    406
17    388
20    368
14    360
Name: count, dtype: int64

In [27]:
#  Tạo cột same_borough có giá trị là 1 nếu cùng điểm pickup và dropoff, và nhận giá trị 0 nếu ngược lại
df_mar["same_borough"] = (df_mar["pickup_borough"] == df_mar["dropoff_borough"]).astype(int)

In [28]:
df_mar[["pickup_borough", "dropoff_borough", "same_borough"]].tail(10)

     pickup_borough dropoff_borough  same_borough
6423         Queens          Queens             1
6424      Manhattan       Manhattan             1
6425       Brooklyn        Brooklyn             1
6426      Manhattan       Manhattan             1
6427          Bronx       Manhattan             0
6428      Manhattan       Manhattan             1
6429         Queens           Bronx             0
6430       Brooklyn        Brooklyn             1
6431       Brooklyn        Brooklyn             1
6432       Brooklyn        Brooklyn             1

In [29]:
#  Đếm số chuyến xe có điểm pickup và dropoff a) cùng borough và b) khác borough
df_mar["same_borough"].value_counts()

same_borough
1    5581
0     851
Name: count, dtype: int64

In [30]:
#  Tính trung bình quãng đường di chuyển cho các chuyến xe xuất phát từ Manhattan
cond = df_mar["pickup_borough"] == "Manhattan"
df_mar.loc[cond, "distance"].mean()

2.3497228549734244

In [31]:
#  Tạo cột duration là thời gian giữa pickup và dropoff theo phút
df_mar["duration"] = (df_mar["dropoff"] - df_mar["pickup"]).dt.total_seconds() / 60

In [32]:
df_mar["duration"].round(2)

0        6.25
1        7.08
2        7.40
3       25.87
4        9.53
        ...
6428     3.57
6429    56.38
6430    19.12
6431     5.07
6432    16.67
Name: duration, Length: 6432, dtype: float64

In [33]:
#   Tính trung bình thời gian di chuyển cho mỗi chuyến xe có điểm pickup và dropoff cùng borough và khác borough

df_mar.groupby("same_borough")["duration"].mean()

same_borough
0    31.713670
1    11.703855
Name: duration, dtype: float64

In [35]:
#  Tạo cột pickup_hour là khung giờ pickup
df_mar["pickup_hour"] = df_mar["pickup"].dt.hour

df_mar["pickup_hour"]

0       20
1       16
2       17
3        1
4       13
        ..
6428     9
6429    17
6430    22
6431    10
6432    19
Name: pickup_hour, Length: 6432, dtype: int32

In [36]:
#  Tạo cột km_per_min là số km đi được mỗi phút 
df_mar["km_per_min"] = df_mar["distance"] / df_mar["duration"]

df_mar["km_per_min"]

0       0.256000
1       0.111529
2       0.185135
3       0.297680
4       0.226573
          ...
6428    0.210280
6429    0.332368
6430    0.216565
6431    0.221053
6432    0.231000
Name: km_per_min, Length: 6432, dtype: float64

In [37]:
#  Tính tốc độ trung bình cho chuyến xe trong mỗi khung giờ pickup. Sắp xếp theo chiều tăng dần của khung giờ
df_mar.groupby("pickup_hour")["km_per_min"].mean().sort_index()

pickup_hour
0     0.238418
1     0.252414
2     0.304688
3     1.452515
4     0.284158
5     0.319493
6     0.326853
7     0.307664
8     0.173231
9     0.185468
10    0.171018
11    0.167053
12    0.181299
13    0.170032
14    0.163022
15    0.178424
16    0.180825
17    0.210265
18    0.171341
19    0.187026
20    0.195361
21    0.209708
22    0.214047
23    0.327753
Name: km_per_min, dtype: float64

In [38]:
# Xe di chuyển nhanh nhất vào các khung giờ nào?
df_mar.groupby("pickup_hour")["km_per_min"].mean().sort_values().tail(5)

pickup_hour
7     0.307664
5     0.319493
6     0.326853
23    0.327753
3     1.452515
Name: km_per_min, dtype: float64